* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    padding-top: 22px;
    padding-bottom: 22px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center
}

header nav ul {
    display: flex;
    list-style: none
}

.main-banner {
    background-color: #ECE7E4;
    position: relative;
    height: 100vh;
    margin: auto;

}

.main-banner article {
    max-width: 509px;
    padding-top: 130px;
}

header nav ul li {
    transition: 0.4s;
}

header nav ul li:hover {
    transform: rotate(360deg);
}

header nav ul li:last-of-type {
    margin: 0;
}

header nav ul li:last-of-type a {
    background: #1B1A1A;
    border-radius: 14px;
    text-align: center;
    padding: 11px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
}

header nav ul li {
    margin: 0 32px
}

.navigation-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
    text-decoration: none
}

.main-par {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 20px;
}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 20px
}

.about {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 40px
}

section article a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #1B1A1A;
    margin-left: 25px;
    text-decoration: none
}

.main-image {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
}

.iformation {

    padding-top: 100px;
    padding-bottom: 100px;

}

.first-container {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    margin: auto;
}

.second-container h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.third-container {
    width: 493px;

}

.third-container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;

}

.logo2 {
    margin-left: 30px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 18px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.job {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

.iformation-item {
    padding-top: 100px;
    padding-bottom: 100px;


}

.process {
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

.process-container {
    display: flex;
    justify-content: space-between;
    padding-top: 47px
}

.iformation-item .process-container article p {
    width: 294px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
    margin-top: 10px;

}

.iformation-item .process-container article h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    margin-top: 15px;

}

.iformation-item .process h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;

}

.iformation-item .process h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    margin-top: 13px;
}

.house {
    background-image: url("images/house.jpg");
    background-size: cover;
    display: flex;
    min-height: 600px;
    justify-content: flex-end;
    align-items: center;
}

.sub-container {
    max-width: 285px;
    margin-right: 75px;
}

.sub-container h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.sub-container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

.other-information {
    background-image: url("images/marbl.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.companies {
    background: #403E3B;

}

.comp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1168px;
    min-height: 410px;
    margin: auto;
}

.comp-img {
    display: flex;
    flex-direction: column;
}

.comp-inform {
    max-width: 451px;
}

.comp-inform h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}

.comp-inform h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.comp-inform p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
    margin-top: 14px;
}


.chil {
    padding-top: 96px;
}

.stud {
    padding-top: 128px;
}
.staircase{
    background-image: url("images/case.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.stair-container{
    max-width: 285px;
    margin-left: 60px;
}
.stair-container h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;

}
.stair-container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;

}